.item {
  background-color: tomato;
  color: white;
  font-size: 20px;
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 10px;
}

.title {
    text-align: center;
}

.test {
    display: flex;
    flex-direction: row;
}
